/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/04/2017, 18:18:31
    Author     : valderlei
*/

.botaoBaixo{
    border-radius: 0px;
    height:35px;
}

.viewLabel{
    font-weight: bold;
}

.colunaAcoes{
    width: 100px;
    text-align: center;
}

.colunaAcoesLov{
    width: 50px;
    text-align: center;
}